#contacts {
  text-align: left;
  color: #fff;
  font-family: "roboto";
  font-weight: 400;
  font-size: 1.35em;
  letter-spacing: 1.4px;
}

.contactsContainer {

}

.contactsListShow {
  display: inline-block;
}

.contactsList {
  list-style: none;
}

.contact a,
.contact a:visited,
.contact a:hover {
  color: #fff;
  text-decoration: none;
}

.contactAttr {
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
}

.contact {
  margin: 0px;
  padding: 10px;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
  margin-bottom: 20px;
}

.contact:nth-child(odd) {
  background-color: #9ABEDD;
}

.contact:nth-child(even) {
  background-color: #89adee;
}

.preferredName {
  font-family: "Roboto Slab";
  font-size: 2em;
  font-weight: 700;
  width: 100%;
  letter-spacing: 1.5px;
}

.emailImg img{
  height: 24px;
  margin-left: 20px;
}

.responsibilities {
  display:block;
  width: 100%;
  padding-top: 20px;
}
